<!DOCTYPE html>
<html lang="en">
<head>
    <title>Teste - {{ page.title }}</title>

    {% assign base = '' %}
    {% assign depth = page.url | split: '/' | size | minus: 1 %}
    {% if    depth == 1 %}{% assign base = '.' %}
    {% elsif depth == 2 %}{% assign base = '..' %}
    {% elsif depth == 3 %}{% assign base = '../..' %}
    {% elsif depth == 4 %}{% assign base = '../../..' %}{% endif %}

    <link rel="stylesheet" href="{{ base }}/css/reset.css"/>
    <link rel="stylesheet" href="{{ base }}/css/main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,300" rel="stylesheet" type="text/css">
    {{ page.sections['header'] }}
</head>

<body>
    <header>
            Renato's Sandbox
    </header>
    <div id="content">
        {{ content }}
    </div>
</body>
</html>
